@charset "utf-8";

Variaveis:root {
    --cor1: #5e0b15;
    --cor2: #90323d;
    --cor3: #d9cab3;
    --cor4: #bc8034;
    --cor5: #000000;
    --branco: #ffffff;
}

/* Importando fonte */
@font-face {
    font-family: disquete;
    src: url(./fonte/FontsFree-Net-Disket-Mono-Regular.ttf);
}

/* Configuração geral da página */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Cor do body */
body {
    background-color: var(--cor3);
}

/* Cor dos icons */
a i {
    color: var(--cor5);
}

/* Desativando a estilização padrão do ul e pondo os objetos na mesma linha */
.icons-circulo ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}

/* Posição dos icons */
.icons-circulo {
    position: absolute;
    top: 23%;
    left: 40%;
    transform: translate(-20%, -50%);

}

.icons-circulo img {
    width: 50px;
   height: 50px;
}

/* Configuração total dos icons */
.icons-circulo a {
    display: inline-flex;
    text-decoration: none;
    width: 70px;
    height: 70px;
    background-color: var(--cor4);
    margin: 0 6px;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
    font-size: 70px;
}

/* Mudando background com hover */
.icons-circulo a:hover {
    background-color: var(--cor2);
}

/* Cronometrando a transição */
.icons-circulo a img {
    transition: 0.4s all;
}

/* Rodando os icons */
.icons-circulo a:hover>img {
    transform: rotate(360deg);
}