@charset "utf-8";

/* Variaveis */
:root {
    --cor1: #5e0b15;
    --cor2: #90323d;
    --cor3: #d9cab3;
    --cor4: #bc8034;
    --cor5: #000000;
    --branco: #ffffff;
}

/* Importando fonte */
@font-face {
    font-family: disquete;
    src: url(./fonte/FontsFree-Net-Disket-Mono-Regular.ttf);
}

/* Backgroun da pagina */
body {
    background-color: var(--cor3);
}

/* Area do card */
.area-card {
    padding: 2rem 0;
    padding: 2rem 0;
    margin-left: 50px;
}

/* Estilizando h1 */
.area-card h1 {
    font-family: disquete;
    font-size: 35px;
    color: var(--cor1);
    margin-left: 40px;
}

/* Estilizando h2 */
.area-card h2 {
    font-family: disquete;
    color: var(--cor1);
    font-weight: 300px;
    font-size: 30px;
    position: relative;
    margin-bottom: 3rem;
    margin-bottom: 10px;
    margin-left: -50px;
    text-align: center;
}

/* Estilizando linha */
.area-card h2::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: var(--cor1);
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

/* Estilizando h3 */
.area-card h3 {
    color: var(--cor1);
    font-family: disquete;
    text-align: center;
}

/* Estilizando o h3 só do valor */
.valor h3 {
    color: var(--cor1);
    font-family: disquete;
    margin-bottom: 10px;
}

/* Displey da div */
.slider {
    display: flex;
}

/* Tamanho e estilização do card. */
.slider .card {
    background-color: var(--branco);
    border-radius: 5px;
    margin: 10px;
    margin-right: 22px;
    margin-top: 25px;
    padding: 30px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hover do card */
.slider .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/* Tamanho da capa dos livros */
.slider .card .imagem {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Icon de Favorito */
.slider .card .fav {
    position: absolute;
    background-image: url(/site/html/img/ebook/heart-regular-24.png);
    height: 20px;
    width: 20px;
    background-size: 20px;
    margin-right: -10px;
    display: flex;
    place-self: flex-end;
    transition: 0.3 all ease;
    cursor: pointer;
}

/* Hover do icon de favorito */
.slider .card .fav:hover {
    background-image: url(/site/html/img/ebook/heart-solid-24.png);
}

/* Estilização das estrelas */
.estrelas i {
    color: #bc8034;
    margin-top: 15px;
}

/* Estilização da sinopse */
.card .sinopse {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    width: 280px;
    height: 280px;
}

/* Estilização do p autor */
.card .autor {
    font-family: 'Courier New', Courier, monospace;
    color: var(--cor2);
    margin: 3px;
}

/* Botão do card */
.card button {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    font-family: disquete;
    color: var(--branco);
    text-align: center;
    background-color: var(--cor1);
}

/* Hover botão */
.card button:hover {
    background-color: var(--cor2);
    font-family: disquete;
    font-size: 15px;
    font-weight: 550;
    color: var(--branco);
    border-radius: 40px;
}