{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="livrariaKafka">
    <meta name="author" content="Victoria Guimaraes">
    <meta name="keywords" content="livraria">
    <title>Ebooks</title>
    <link rel="shortcut icon" href="{%static 'img\header\iconPag.png' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'global/css/reader.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'global/css/produtos.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'global/css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="js/flipbook.js" defer></script>
</head>

<body>

    <header>

        <!-- Logo e caixa de pesquisa -->
        <img id="kafkaLogo" src="{%static 'img\header\kafkaLogo.png' %}">
        <div class="search_box">
            <input type="text" placeholder="Pesquise aqui">
            <i id="search" class="fa-solid fa-magnifying-glass"></i>
        </div>

        <!-- Lista de icons -->
        <ul>
            <li><a href="#" class="iconMenu"><img
                        src="{%static 'img\header\iconHeart.png' %}"></a></li>
            <li><a href="#" class="iconMenu"><img
                        src="{%static 'img\header\iconCar.png' %}"></a></li>
            <li><a href="#" class="iconMenu"><img
                        src="{%static 'img\header\iconUser.png' %}"></a></li>
        </ul>

    </header>

    <!-- Menu e submenu -->
    <nav class="navigation">

        <ul>
            <li class="menuItens"><a href="{%url 'home'%}">Home</a></li>
            <li class="menuItens"><a href="#">Livros</a>
                <!-- Submenu -->
                <!-- <div class="div-submenu"> -->
                <ul>
                    <li class="subMenu"><a href="">Geek</a></li>
                    <li class="subMenu"><a href="{%url 'ebook'%}">Ebook</a></li>
                    <li class="subMenu"><a href="{%url 'infantil'%}">Infantil</a></li>
                    <li class="subMenu"><a href="{%url 'ofertas'%}">Ofertas</a></li>
                    <li class="subMenu"><a href="">Estudos</a></li>
                    <li class="subMenu"><a href="{%url 'importados'%}">Importados</a></li>
                </ul>
                </div>
            </li>
            <li class="menuItens"><a href="#">DVDs</a></li>
            <li class="menuItens"><a href="{%url 'quemSomos'%}">Quem Somos</a></li>
            <li class="menuItens"><a href="#">Fale Conosco</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <div class="area-card">
                <!-- Card Romance -->
                <h1>Ebooks</h1>
                <h2>Romance</h2>

                <div class="slider">

                    <!-- Card 1 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem"
                            src="{%static 'img\ebook\a-hipotese-do-amor.jpg'%}" alt="">
                        <h3>A Hipótese do Amor</h3>

                        <p class="autor">Ali Hazzewood</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Olive Smith, aluna do doutorado em Biologia da Universidade Stanford, acredita na ciência
                                – não
                                em
                                algo incontrolável como o amor.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$29,61</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>

                    <!-- Card 2 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem"
                            src="{%static 'img\ebook\ebook-casamento.jpg' %}" alt="">
                        <h3>UM CASAMENTO FORÇADO</h3>
                        <p class="autor">Ivi Matarazzo</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Constantini Erden é um cirurgião conceituado nos Estados Unidos,
                                mulherengo. Quando seu pai fica à beira
                                da morte, ele tem que regressar à Turquia para assumir os negócios da família.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$2,29</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>

                    <!-- Card 3 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ebook\girlslikegirls.jpg'%}"
                            alt="">
                        <h3>Girls Like Girls</h3>

                        <p class="autor">HAYLEY KIYOKO</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Coley sente que não é a mesma desde a morte da mãe. Forçada a morar no interior do Oregon
                                com o
                                pai que abandonou a família, a garota se vê sozinha em um lugar desconhecido e
                                conservador.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$39,40</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>

                    <!-- Card 4 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem"
                            src="{%static 'img\ebook\vermelho-branco-e-sangue-azul.jpg'%}"
                            alt="">
                        <h3>Vermelho, branco e sangue azul</h3>

                        <p class="autor">Casey McQuiston </p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>O que pode acontecer quando o filho da presidenta dos Estados Unidos se apaixona pelo
                                príncipe da
                                Inglaterra?</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$34,90</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>


                </div>
            </div>
        </section>

        <section>
            <!-- Card Horror -->
            <div class="area-card">

                <h2>Horror</h2>

                <div class="slider">

                    <!-- Card 1 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ebook\circo-sombrio.jpg'%}"
                            alt="">
                        <h3>Circo Sombrio: contos, terror e psicopatia eBook</h3>

                        <p class="autor">Ariel Yoshida </p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p> São 20 contos aterrorizantes. Uma mochileira atacada na floresta, um encontro romântico
                                que se torna brutal; um homem desolado que se torna atroz; uma angustiante e sanguinária
                                ida à dentista.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$5,99</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>

                    <!-- Card 2 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ebook\o-homem-de-giz.jpg'%}"
                            alt="">
                        <h3>O homem de giz</h3>
                        <p class="autor">C. J. Tudor</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Em 1986, Eddie e os amigos passam a maior parte dos dias andando de bicicleta pela pacata
                                vizinhança em busca de aventuras</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$39,29</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>

                    <!-- Card 3 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ebook\o-paciente.jpg'%}"
                            alt="">
                        <h3>O paciente</h3>

                        <p class="autor">Jasper DeWitt</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Em uma série de postagens na internet, o jovem – e extremamente autoconfiante –
                                psiquiatra Parker H. conta suas experiências como médico residente em um sombrio
                                manicômio de New England.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$39,67</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>


                    <!-- Card 4 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ebook\o-vilarejo.jpg'%}"
                            alt="">
                        <h3>O Vilarejo</h3>

                        <p class="autor">Rafhael Montes</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Em 1589, o padre e demonologista Peter Binsfeld fez a ligação de cada um dos pecados
                                capitais a um demônio, supostamente responsável por invocar o mal nas pessoas.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$38,32</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>


                </div>
            </div>
        </section>

        <section>

            <!-- Card Suspense -->
            <div class="area-card">

                <h2>Suspense</h2>

                <div class="slider">

                    <!-- Card 1 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem"
                            src="{%static 'img\ebook\a-beira-da-loucura.jpg'%}" alt="">
                        <h3>À beira da loucura</h3>

                        <p class="autor"> B. A. Paris</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p> Cass está sendo consumida pela culpa desde a noite em que viu uma mulher dentro de um
                                carro parado na estrada perto de sua casa, durante uma terrível tempestade, e tomou a
                                decisão de não sair para ajudá-la.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$5,99</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>


                    <!-- Card 2 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem"
                            src="{%static 'img\ebook\assombrando-adeline.jpg'%}" alt="">
                        <h3>Assombrando Adeline</h3>
                        <p class="autor"> H.D. Carlton </p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Posso manipular as emoções de qualquer um que me permita.
                                Vou te machucar, te fazer rir, te fazer chorar e suspirar.Mas minhas palavras não o
                                afetam. Sobretudo quando eu imploro para ele ir embora.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$28,29</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>


                    <!-- Card 3 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ebook\o-colecionador.jpg'%}"
                            alt="">
                        <h3>O colecionador (Detetive Scott)</h3>

                        <p class="autor">Sérgio Fragoso</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>"Não use saias, ou você pode ser a próxima vítima" Detetive Scott tem mais um caso em
                                suas mãos. Dois assassinatos em uma semana e a suspeita de um possível serial killer.
                            </p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$43,80</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>


                    <!-- Card 4 -->
                    <div class="card">

                        <div class="fav"
                            style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem"
                            src="{%static 'img\ebook\menina-boa-menina-ma.jpg'%}" alt="">
                        <h3>Menina boa, menina má</h3>

                        <p class="autor">Ali Land</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Os corações das crianças pequenas são órgãos delicados. Um começo cruel neste mundo pode
                                mudar para sempre o seu destino</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$38,61</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>


                </div>
            </div>
        </section>

    </main>

    <!-- Footer -->
    <footer>
        <div class="area-footer">

            <div class="i-r">
                <a href="#"><img src="{%static 'img\footer\twitter.png'%}" alt=""></i></a>
                <a href="#"><img src="{%static 'img\footer\linkedin.png'%}" alt=""></a>
                <a href="#"><img src="{%static 'img\footer\github.png'%}" alt=""></a>
            </div>
        </div>
        <div class="pFooter">
            <p>Desenvolvido pelo grupo 6 na aula de programação do <a href="">PDA</a> </p>
        </div>


    </footer>

</body>

</html>