{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="livrariaKafka">
    <meta name="author" content="Victoria Guimaraes">
    <meta name="keywords" content="livraria">
    <title>Ofertas Kafka</title>
    <link rel="shortcut icon" href="{%static 'img\header\iconPag.png' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'global/css/reader.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'global/css/produtos.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'global/css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>

        <!-- Logo e caixa de pesquisa -->
        <img id="kafkaLogo" src="{%static 'img\header\kafkaLogo.png' %}">
        <div class="search_box">
            <input type="text" placeholder="Pesquise aqui">
            <i id="search" class="fa-solid fa-magnifying-glass"></i>
        </div>

        <!-- Lista de icons -->
        <ul>
            <li><a href="#" class="iconMenu"><img src="{%static 'img\header\iconHeart.png' %}"></a></li>
            <li><a href="#" class="iconMenu"><img src="{%static 'img\header\iconCar.png' %}"></a></li>
            <li><a href="#" class="iconMenu"><img src="{%static 'img\header\iconUser.png' %}"></a></li>
        </ul>

    </header>


    <!-- Menu e submenu -->
    <nav class="navigation">

        <ul>
            <li class="menuItens"><a href="{%url 'home'%}">Home</a></li>
            <li class="menuItens"><a href="#">Livros</a>
                <!-- Submenu -->
                <!-- <div class="div-submenu"> -->
                <ul>
                    <li class="subMenu"><a href="">Geek</a></li>
                    <li class="subMenu"><a href="{%url 'ebook' %}">Ebook</a></li>
                    <li class="subMenu"><a href="{%url 'infantil' %}">Infantil</a></li>
                    <li class="subMenu"><a href="{%url 'ofertas' %}">Ofertas</a></li>
                    <li class="subMenu"><a href="">Estudos</a></li>
                    <li class="subMenu"><a href="{%url 'importados'%}">Importados</a></li>
                </ul>
                </div>
            </li>
            <li class="menuItens"><a href="}">DVDs</a></li>
            <li class="menuItens"><a href="{%url 'quemSomos' %}">Quem Somos</a></li>
            <li class="menuItens"><a href="">Fale Conosco</a></li>
        </ul>

    </nav>


    <main>
        <section>
            <div class="area-card">
                <!-- Card Romance -->
                <h1>Ofertas do Dia</h1>

                <div class="slider">

                    <!-- Card 1 -->
                    <div class="card">

                        <div class="fav" style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ofertas\rita-lee.jpg'%}" alt="">
                        <h3>Rita Lee: Outra autobiografia</h3>

                        <p class="autor">Rita Lee</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Rita pode ter tido de tudo, menos uma “vidinha besta”. E os últimos anos foram,
                                desafiadores. Com franqueza e honestidade ―, ela pariu um novo livro autobiográfico que
                                vai mexer profundamente com o leitor.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$54,56</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>

                    <!-- Card 2 -->
                    <div class="card">

                        <div class="fav" style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ofertas\eu-esse-coracao.jpg' %}" alt="">
                        <h3>Eu e esse meu coração</h3>
                        <p class="autor">C.C Hunter</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Leah MacKenzie, de 17 anos, não tem coração. O que a mantém viva é um coração artificial
                                que ela carrega dentro de uma mochila.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$39,49</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>

                    <!-- Card 3 -->
                    <div class="card">

                        <div class="fav" style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ofertas\não-nasci-para-agradar.jpg'%}" alt="">
                        <h3>Não nasci para agradar</h3>

                        <p class="autor">Michelle Quach</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Uma história divertida e inspiradora sobre uma jovem que decide lutar contra o machismo e
                                descobre que pode estar se apaixonando por seu rival.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$44,15</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>

                    <!-- Card 4 -->
                    <div class="card">

                        <div class="fav" style="background-image: url({%static 'img\ebook\heart-regular-24.png'%})">
                        </div>
                        <img class="imagem" src="{%static 'img\ofertas\quando-ninguem-esta-olhando.jpg'%}" alt="">
                        <h3>Quando ninguém está olhando</h3>

                        <p class="autor">Allyssa Cole</p>
                        <div class="estrelas"><i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="sinopse">
                            <p>Sydney Green nasceu e foi criada no Brooklyn, em Nova York, mas cada vez que ela pisca os olhos seu amado bairro parece mudar. Condomínios se espalham como erva daninha.</p>
                        </div>
                        <div class="preco">
                            <h3 class="valor">R$36,90</h3>
                        </div>
                        <a href="#"><button>Comprar</button></a>
                    </div>


                </div>
            </div>
        </section>

    </main>


    <!-- >> FOOTER << -->

    <footer>
        <div class="area-footer">

            <div class="i-r">
                <a href="#"><img src="{%static 'img\footer\twitter.png'%}" alt=""></i></a>
                <a href="#"><img src="{%static 'img\footer\linkedin.png'%}" alt=""></a>
                <a href="#"><img src="{%static 'img\footer\github.png'%}" alt=""></a>
            </div>
        </div>
        <div class="pFooter">
            <p>Desenvolvido pelo grupo 6 na aula de programação do <a href="">PDA</a> </p>
        </div>


    </footer>

</body>

</html>