@charset "utf-8";

/* Variaveis */
:root {
    --cor1: #5e0b15;
    --cor2: #90323d;
    --cor3: #d9cab3;
    --cor4: #bc8034;
    --cor5: #000000;
    --branco: #ffffff;
}

/* Importando fonte */
@font-face {
    font-family: disquete;
    src: url(./fonte/FontsFree-Net-Disket-Mono-Regular.ttf);
}

body {
    background-color: var(--cor3);
}

.area-card {
    padding: 2rem 0;
    padding: 2rem 0;
    margin-left: 50px;
}

.area-card h1 {
    font-family: disquete;
    font-size: 35px;
    color: var(--cor1);
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilizando h3 */
.area-card h3 {
    color: var(--cor1);
    font-family: disquete;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* Displey da div */
.slider {
    display: flex;
}

/* Tamanho e estilização do card. */
.slider .card {
    background-color: var(--branco);
    border-radius: 5px;
    margin: 10px;
    margin-right: 22px;
    margin-top: 25px;
    padding: 30px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Hover do card */
.slider .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.slider .card .imagem {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.area-card h1 {
    font-family: disquete;
    color: var(--cor1);
}

/* Estilização da sinopse */
.card .resumoProfissional {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    width: 280px;
    height: 280px;
    margin-top: -8px;
    margin-bottom: -20px;
}

/* Estilização do p autor */
.card .cargo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--cor2);
    margin-top: -10px;
    /* margin-bottom: -10px; */
}

.github {
    margin-top: -10px;
}

.github img {
    width: 30px;
    margin: 5px;
}

.github a {
    display: inline-flex;
    text-decoration: none;
}

.github a {
    display: inline-flex;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: var(--cor2);
    margin: 0 6px;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
    font-size: 70px;
}

.github a:hover {
    background-color: var(--cor1);
}

.github a img {
    transition: 00.4s all;
}

.github a:hover>img {
    transform: rotate(360deg);
}


